/backups/*
/temp_update/*
/land
/preland
/black
/student
/white
/logs/*
/tmp
/db/clicks.db
/db/clicks.db-shm
/db/clicks.db-wal
bases/update.txt
bases/GeoLite2-ASN.mmdb
bases/GeoLite2-City.mmdb
bases/GeoLite2-Country.mmdb
tur.xml